* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
/* main */
main {
  padding-bottom: 90px;
}
/* menu */
#menu-main {
  width: 230px;
  float: left;
  background-color: black;
  /* debug */
  height: 200px;
}
/* parte centrale di pagina  */
#principale {
  width: calc(100% - 230px);
  float: right;
}
/* barra trasparente */
#upgrade {
  height: 90px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
#upgrade #button {
  border: white 1px solid;
  border-radius: 50px;
  color: white;
  padding: 15px 25px;
  font-size: 13px;
}
/* parte contenuti */
#contenuti {
  padding-top: 90px;
  background-color: #262a30;
}
#contenuti nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  padding: 0 10px;
}
#contenuti nav ul li {
  padding-right: 15px;
  padding-bottom: 40px;
}
#contenuti nav ul li a {
  color: #8a918c;
  text-decoration: none;
}
#contenuti nav ul li hr {
  color:#1df500;
  width: 40px;
  text-align: center;
  margin-left: calc(50% - 20px)
}
/* footer */
footer {
  height: 90px;
  background-color: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  z-index: 900;
}
