* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
/* main */
/* menu */
#menu-main {
  width: 210px;
  float: left;
  background-color: black;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100%;
}
/* prima parte */
#menu-main .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}
#menu-main .logo img{
  width: 180px;
  height: auto;
}
#menu-main nav ul li a{
  display: flex;
  align-items: center;
  color: #b5b4b0;
  text-decoration: none;
}
#menu-main nav >ul >li> a> img{
 width: 40px;
 margin-right: 10px;
}
#menu-main h3 {
  color: #b5b4b0;
  padding: 10px 0;
}
#menu-main nav ul ul li {
  padding-bottom:10px;
}
#menu-main nav ul ul {
  resize: vertical;
  overflow-y: auto;
}
/* seconda aparte sezione sinistra */
.piepagina {
  width: 90%;
  margin: 10px auto 0;
  z-index: 10;
  position: sticky;
}
.piepagina a {
  text-decoration: none;
  color: #b5b4b0;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.piepagina #installa {
  border-bottom: solid 1px #9e9e9e;
  padding-bottom: 10px;
}
.piepagina #installa img{
  width: 15px;
  margin-right: 10px;
}
.piepagina a:last-child img {
  background-color:#9e9e9e;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.piepagina a:last-child span {
  color:white;
  font-weight: bold;
}
/* parte centrale di pagina  */
#principale {
  width: calc(100% - 210px);
  float: right;
  overflow-y: auto;
}
/* barra trasparente */
#upgrade {
  height: 90px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  right: 0;
  width: calc(100% - 210px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
#upgrade #button {
  border: white 1px solid;
  border-radius: 50px;
  color: white;
  padding: 15px 25px;
  font-size: 13px;
}
/* parte contenuti */
#contenuti {
  padding-top: 90px;
  background-color: #262a30;
  padding-bottom: 90px;
}
#contenuti nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  padding: 0 10px;
}
#contenuti nav ul li {
  padding-right: 15px;
  padding-bottom: 40px;
}
#contenuti nav ul li a {
  color: #8a918c;
  text-decoration: none;
  font-size: 15px;
}
#contenuti nav ul li hr {
  color:#1df500;
  width: 40px;
  text-align: center;
  margin-left: calc(50% - 20px)
}
/* sezini interne della parte contenuti */
#contenuti section {
  width: 95%;
  margin: 0 auto 30px;
}
#contenuti h2 {
  color: white;
  margin-bottom: 20px;
}
#contenuti h4 {
  color:white;
  margin-bottom: 10px;
}
#contenuti section span,#contenuti section p {
    color: #8a918c;
}
#contenuti section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
#contenuti section ul li {
  max-width: 150px;
  min-width: 100px;
  margin: 10px 15px 10px 0;
  text-align: center;
}
#contenuti section ul li img {
  width: 100%;
  height: auto;
}
#contenuti section:last-child li img {
  border-radius: 50%;
}
/* footer */
footer {
  height: 90px;
  background-color: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  z-index: 900;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}
footer .riproduzione i, footer .impostazioni i{
  padding-right: 15px;
}
footer .riprodotto {
  width: 20%;
  height: 100%;
  background-color: #dedede;
  border-radius: 50px;
}

/* prima parte del footer */
footer .brano {
  display: flex;
  align-items: center;
}
footer .brano img{
  width: 50px;
  margin-right: 10px;
}
footer .brano h6 {
  color: white;
  font-weight: bold;
  font-size: 14px;

}
footer .brano span {
  font-size: 12px;
  color: #828282;
  font-weight: bold;
  padding-right: 10px;
}
footer .brano i{
  color: #828282;
  padding-right: 10px;
}
/* seconda parte del footer */
footer .riproduzione {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .riproduzione a {
  color: white;
}
.riproduzione .opzioni, .riproduzione .barra {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .barra {
  padding-top: 10px;
}
footer .opzioni .far.fa-play-circle {
  font-size: 25px;
  padding: 0 20px 0 10px;
}
footer .barra .barra_avanzamento {
  width: 400px;
  height: 3px;
  border-radius: 50px;
  background-color: #828282;
}
footer .barra span {
  color: white;
  font-weight: bold;
  padding: 0 10px;
  font-size: 10px;
}
/* terza parte del footer */
footer .impostazioni {
  display: flex;
  align-items: center;
}
footer .impostazioni a {
  color: #dedede;
}
footer .impostazioni .barra_volume {
  width: 100px;
  height: 3px;
  border-radius: 50px;
  background-color: #828282;
}
